.parent-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.auth-container{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

}
.img-container{
    background-color: black;
    margin-bottom: 2rem;
    width: 100%;
    text-align: center;
}


.auth-form-container{
    width: 80%;
    /* min-height: 80vh; */
}
.auth-form-container> div:first-of-type{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}


