main{
    padding: 0 !important;
}
body{
    margin: 0 !important;
}
.estudio-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.estudio-main {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto;
    background-color: black;
}
