
.divHeader{
  min-height: 100vh;
  background-color: black;
  color: white;
  display: flex;
}
.divTxt{
  display: flex;
  flex-direction: column;
  padding-left: 5%;
  padding-top: 2%;
  width: 50%;
  outline: none;
  text-shadow: 4px 4px 4px #BC9010;
  padding-right: 1%;
}
.reservaContainer{
  width:50%;
  opacity: 0;
  animation: fadeIn 2s forwards; 
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
.neonLineContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.neonLineTop,
.neonLineBottom {
    flex-grow: 1;
    width: 2px;  
    background-color: white; 
    box-shadow: 0 0 10px #ffffff, 0 0 20px #ffffff, 0 0 30px #ffffff, 0 0 40px #ffffff;  
}


.neonContainer{
  margin-top: 30%;
  margin-bottom: 30%;
}
.neon {
  background-color: white;
  width: 100px;
  box-shadow: 0 0 5px white, 0 0 10px #f8ff00, 0 0 15px white, 0 0 20px #ffe081;
  height: 100px !important;
  color: black;
  border-radius: 51px;
}


.promociones {
  position:relative;
  padding: 10px;
  display: inline-block;
  text-transform: none;
  overflow:hidden;
  transition: 0.5s;
  letter-spacing: 3px;
  cursor:pointer;
  animation: color-change 3s infinite;
  -webkit-animation: color-change 3s infinite;
  animation-direction: alternate;

}
@keyframes color-change {
  0% { color: white; }
  25% { color: whitesmokoe; }
  50% { color: #ffe081; }
  75% { color: #c4a54a; }
  100% { color: #a8861f; }
}
.promociones span{
  position: absolute;
  display:block;
}

.promocionesContainer{
  margin-top: 5%
}

.promociones span:nth-child(1){
  top:0;
  left: 0;
  width:100%;
  height: 2px;
  background: linear-gradient(90deg,transparent, white);
  animation: recorrer 1s linear infinite;
  -webkit-animation: recorrer 1s linear infinite;
}

@keyframes recorrer
{
  0%
  {
      left: -100%;
  }
  50%
  {
      left:100%;
  } 
  100%
  {
      left:100%;
  }
}

.promociones span:nth-child(2){
  top: -100%;
  right: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(180deg,transparent, white);
  animation: recorrer2 1s linear infinite;
  animation-delay: 0.25s;
}
@keyframes recorrer2
{
  0%
  {
      top: -100%;
  }
  50%{
      top: 100%;
  }
  100%
  {
      top:100%;
  }
}

.promociones span:nth-child(3){
  bottom: 0;
  right: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg,transparent, white);
  animation: recorrer3 1s linear infinite;
  animation-delay: 0.5s
}
@keyframes recorrer3
{
  0%
  {
      right: -100%;
  }
  50%{
      right:100%
  }
  100%{
      right:100%;
  }
}

.promociones span:nth-child(4){
  bottom: -100%;
  left: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(360deg,transparent, white);
  animation: recorrer4 1s linear infinite;
  animation-delay: 0.75s
}
@keyframes recorrer4
{
  0%
  {
      bottom: -100%;
  }
  50%{
      bottom:100%
  }
  100%{
      bottom:100%;
  }
}

.textShadow{
  text-shadow: 4px 4px 4px #BC9010
}
.textShadowWhite{
  text-align: center;
  color: white;
  text-shadow: 9px 2px 4px black;
  background-color: #BC9010;
  border-radius: 10px;
  letter-spacing: 2px;
}
.boxShadow{
  box-shadow: 0 0 10px #BC9010, 0 0 20px #BC9010, 0 0 30px #BC9010, 0 0 40px #BC9010;
}
.interested{  
  display: flex;
  margin-left: auto;
  margin-right: auto;
}

.interestedContainer{
  display:flex;
  flex-direction: column;
}
.todosTatuadoresContainer{
  margin-top: 5%;
  gap: 20px;
  flex-direction:column;
  display: flex;
}
.reservaButton {
  background-color: black;
  animation: color-change 3s infinite;
  cursor: pointer;
  animation-direction: alternate;
}

.confirmationReserva{
  margin-top : 0% !important;
}
.confirmationReserva:hover {
  animation: color-change 2s infinite;
  animation-direction: alternate;
}
@keyframes colorChange {
  0% {color: rgb(255,255,255);} /*white */
  5% {color: rgb(251,249,244);}
  10% {color: rgb(247,243,233);}
  15% {color: rgb(243,237,222);}
  20% {color: rgb(239,231,211);}
  25% {color: rgb(235,225,200);}
  30% {color: rgb(231,219,189);}
  35% {color: rgb(227,213,178);}
  40% {color: rgb(223,207,167);}
  45% {color: rgb(219,201,156);}
  50% {color: rgb(215,195,145);} /*#ffe81c */
  55% {color: rgb(211,189,134);}
  60% {color: rgb(207,183,123);}
  65% {color: rgb(203,177,112);}
  70% {color: rgb(199,171,101);}
  75% {color: rgb(195,165,90);} /*#c4a54a */
  80% {color: rgb(191,159,79);}
  85% {color: rgb(187,153,68);}
  90% {color: rgb(183,147,57);}
  95% {color: rgb(179,141,46);}
  100% {color: rgb(175,135,35);} /*#a8861f*/
}

.reservaInterested{
  display:flex;
  justify-content: center;
}
@media (max-width: 900px) {
  .divHeader {
    flex-direction: column;
  }

  .divTxt, .neonLineContainer, .reservaContainer {
    width: 100%;
  }
  .image-container-perfil {
    width:100%;
    text-align: center;
  }

.info-tatto-container{
  text-align: center;
}
}

.image-container-perfil img{
  object-fit: cover;
  border-radius: 10px;
}
.textShadowWhite{
  text-shadow: 0px 0px 5px white;
}