.recepcion-container {
    background-color: #000000;
    border-radius: 10px;
    padding: 20px;
  }
  
  .recepcion-row {
    margin-bottom: 20px;
    border-radius: 3%;
    border:5px solid black;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
    box-shadow: 0px 0px 30px white;
    background-color: black;
    border-color: white;
}
  
  .recepcion-image-col {
    padding: 0;
  }
  
  .recepcion-content-col {
    padding-left: 20px;
    color: white;
    text-shadow: 0px 0px 4px;
  }
  
  .recepcion-heading {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
  }

.img-fluid{
    border-radius:3% !important;
    -webkit-border-radius:3% !important;
    -moz-border-radius:3% !important;
    -ms-border-radius:3% !important;
    -o-border-radius:3% !important;
}
.recepcion-paragraph{
    margin-bottom: 20px; 
    line-height: 1.5; 
    text-align: justify; 
}

.font-weight-bold{
    font-weight: bold;
    color: #a4a41f;
    text-shadow: 0px 0px 4px black;
}
.img-recepcion{
  object-fit: cover;
  height:100%;
}