.parent-animation{
    position: relative;
    width: 50%;
    height: 100vh;
}

.animation{
    position: absolute;
    left: 5%;
    width: 90%;
}

.ms-1{
    font-size: 12px;
}
.animation button{
    box-shadow: 0px 0px 10px white;
    text-shadow: 0px 0px 4px;
}