.parent-animation{
    position: relative;
    width: 100%;
    height: 200px;
}

.animation{
    width:25%;
    position: absolute;
    bottom: 45px;
    left: 25px;
    animation-name: moveUp;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-fill-mode: forwards;
    opacity: 0;
}


@keyframes moveUp{
    0% {
        transform: translateY(100px);
        opacity: 0;
        -webkit-transform: translateY(100px);
        -moz-transform: translateY(100px);
        -ms-transform: translateY(100px);
        -o-transform: translateY(100px);
}
    100% {
        transform: translateY(-250px);
        opacity: 1;
}
}

.ms-1{
    font-size: 12px;
}